.black-ops-one-regular {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;   
}
html,body{
    height: 100%;
    width: 100vw;
}



/* start styling */



/* Navigation - Bar */
#nav{
    background-color: whitesmoke;
    width: 100vw;
    height:40px;
    position: fixed;
    display: flex;
    flex-direction: row;
    padding: 0%;
    margin: 0%;
    z-index: 1000;
    overflow: hidden;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

#nav>#leftsubnav{
    position: relative;
    width: 35%;
    height: 100%;
    background-color: rgb(17, 30, 7);
    border: none;
    display: flex;
    align-items: center;
    justify-content: left;
}
#nav>#leftsubnav>#bd_logo{
    margin-top: 10px;
    width: 100px;
    height: 200%;
}
#nav>#leftsubnav>#bd_text{
    width: 300px;
    margin-top: 10px;
    height: 550%;
}

#nav>#midsubnav{
    width: 30%;
    height: 100%;
    background-color: rgb(17, 30, 7);
    border: none;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
#nav>#midsubnav>#flag{
    background-color: rgb(17, 30, 7);
    width:auto;
    height: 100%;
}

#nav>#rightsubnav{
    width: 35%;
    height: 100%;
    padding: 5px;
    background-color: rgb(17, 30, 7);
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
}
#nav>#rightsubnav>.logos{
    color: white;
    font-size: 20px;
    margin-right: 25px;
    margin-top: 8px;
}
#nav>#rightsubnav>#rightmostlogo{
    margin-right: 40px;
}

/* NAV END */








/*  Main - pages */

#main{
    position: relative;
    overflow: hidden;
    background-color: white;
}


.page{
    color: white;
    width: 100vw;
    height: 95vh;
    min-height: 775px;
}

/*page 1*/
#page1{
    margin-top: 40px;
    background-color: 	#2b310a;
    position: relative;
    display: flex;
    overflow: hidden;
}

#page2{
    background-color: #04127B;
    position: relative;
    display: flex;
    overflow: hidden;
}












/* Footer */
footer{
    height: 40vh;
    width: 100vw;
    color: white;
    background-color: black;
}










/* Testing CSS */

.bg-container{
    position: relative;
    display: flex;
    background-color: #393939;
    width: 100%;
    height: 100%;
}
.bg-video-container{
    /* position: absolute; */
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: baseline;
}
.bg-video{
    position: absolute;
    object-fit: cover;
}
.bg-image-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-width: 350px;
    min-width: 350px;
    height: 60%;
    min-height:350px;
    max-height: 350px;
    margin-left: 65vw;
    margin-top: 10px;
    overflow: hidden;
    z-index: 5;
}
.bg-imagef{
    object-fit: cover;
    width: 90%;
    height: 90%;
}



.page-content{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.page-content-top{
    width: 50%;
    min-width: 550px;
    height: 60%;
    min-height:400px;
    margin-left: 10px;
    margin-top: 10px;
}
.main-heading{
    width: 70%;
    height: 20%;
    font-family: "Black Ops One", system-ui;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    margin-left: 50%;
    margin-top: 30px;
    transform: translateX(-50%);
    overflow: hidden;
}
.sub-heading{
    width: 100%;
    height: auto;
    min-height: 25%;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
    overflow: hidden;
}
.go-to-button{
    border: 2px solid white;
    margin-top: 40px;
    width: 250px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}
.go-to-button:hover{
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;    
    transition: all 0.4s ease-in-out;
}
.go-to-button-arrow{
    margin-left: 10px;
    margin-top: 2.5px;
}


.page-content-bottom{
    position: relative;
    display: flex;
    width: 90%;
    min-width: 870px;
    height: 25%;
    min-height: 170px;
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-between;
    overflow: hidden;
}
.bottom-info{
    width: 25%;
    height: 100%;
    background-image: linear-gradient(to right, #393939 , rgb(0, 0, 0));
}
.bottom-info-head{
    display: flex;
    justify-content: center;
    width: 90%;
    height: auto;
    min-height: 30%;
    margin-top: 10px;
    font-size: 22px;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}
.bottom-info-data{
    width: 80%;
    height: auto;
    min-height: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: "Black Ops One", system-ui;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}
    