*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100vw;
}



/* start styling */



/* Navigation - Bar */
#nav{
    background-color: whitesmoke;
    width: 100vw;
    height: 7vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    padding: 0%;
    margin: 0%;
    z-index: 1000;
    overflow: hidden;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

#nav>#leftsubnav{
    position: relative;
    width: 35%;
    height: 100%;
    background-color: rgb(17, 30, 7);
    border: none;
    display: flex;
    align-items: center;
}
#nav>#leftsubnav>#bd_logo{
    width: 15%;
    height: 100%;
}
#nav>#leftsubnav>#bd_text{
    width: 60%;
    height: 550%;
}

#nav>#midsubnav{
    width: 30%;
    height: 100%;
    background-color: rgb(17, 30, 7);
    border: none;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
#nav>#midsubnav>#flag{
    width:auto;
    height: 100%;
}

#nav>#rightsubnav{
    width: 35%;
    height: 100%;
    padding: 5px;
    background-color: rgb(17, 30, 7);
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
}
#nav>#rightsubnav>.logos{
    color: white;
    font-size: 20px;
    margin-right: 10%;
    margin-top: 1vh;
}
#nav>#rightsubnav>#rightmostlogo{
    margin-right: 5%;
}




/*  Main - pages */

#main{
    position: relative;
    overflow: hidden;
}


.page{
    color: white;
    width: 100vw;
    height: 100vh;
}

#page1{
    margin-top: 7vh;
    height: 93vh;
    background-color: 	#2b310a;
}
#page2{
    background-color: #04127B;
}
#page3{
    background-color: #BAE2EE;
}
#page4{
    background-color: rgb(70,70,70);
}
#page5{
    background-color: rgb(90,90,90);
}
#page6{
    background-color: rgb(120,120,120);
}
#page7{
    background-color: rgb(150,150,150);
}
#page8{
    background-color: rgb(170,170,170);
}
#page9{
    background-color: rgb(200,200,200);
}




/* Footer */
footer{
    height: 40vh;
    width: 100vw;
    color: white;
    background-color: rgb(29, 29, 51);
}